body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    height: 72px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12vw;
}

.logo{
    color: #F9FAF8;
    font-size: 32px;
    font-weight: 800;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin: 0;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero-section{
    background-color:#1F2937;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 100px 12vw;
    align-items: flex-start;
}

.left-content{
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-basis: 400px;
}

.hero{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.sidekick{
    color: #e5e7eb;
    font-size: 18px;
}
#hero-image{
    max-height: 300px;
    flex-shrink: 1;
    min-height: 0;
    min-width: 0;
}

button{
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 600;
}

.info-header{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}