body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    height: 72px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12vw;
}

.logo{
    color: #F9FAF8;
    font-size: 32px;
    font-weight: 800;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
    margin: 0;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.hero-section{
    background-color:#1F2937;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 100px 12vw;
    align-items: flex-start;
}

.left-content{
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-basis: 400px;
}

.hero{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.sidekick{
    color: #e5e7eb;
    font-size: 18px;
}
#hero-image{
    max-height: 300px;
    flex-shrink: 2;
    min-height: 0;
    min-width: 0;
    border-radius: 16px;
}

button{
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 600;
}

.image-row{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 16vw;
    gap: 32px;
}
.info-header{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}
.card-holder{
    display: flex;
    gap: 64px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.info-image{
    max-width: 200px;
    border-radius: 16px;
    min-width: 0;
    min-height: 0;
}

.image-card{
    display: flex;
    flex-direction: column;
    max-width: 200px;
    text-align: center;
    align-items: center;
    gap: 8px;
    flex: 0 1 auto;
}

.testimonial{
    background-color: #e5e7eb;
    padding: 80px 20vw;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.quote{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}
.byline{
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}